@import ../styles/_variables
    
#carousel
  background-image: url(../images/image7.jpg)
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  -webkit-transition: background 2s
  -moz-transition: background 2s
  -o-transition: background 2s
  transition: background 2s
  height: 300px
  text-align: left

  h2
    color: $septenary
    background-color: $primary
    display: inline-block
    padding: 1vw
    position: relative
    left: 0
    top: 1vw
    font-size: 2vw
  
@media all and ( max-width: 480px )
  #carousel
    height: 150px
