@import ../styles/_variables

footer
    background-color: $primary
    color: $septenary
    padding: 0.5vw

    nav.navbar ul li.nav-item a.nav-link
      text-decoration: none
      color: $septenary

      &:hover
        color: $senary

    nav.navbar ul, p
      color: $septenary

    p#copyright
      color: $secondary