@import ../styles/_variables

div#offer
    background-color: $secondary
    color: $septenary
    height: max-content
    padding: 1vw 0

    #offer-description
         font-size: x-large
         font-weight: 700

         p
           margin: 0

    #calculator-widget
        float: right
        position: absolute
        top: 5%
        right: 4%