@import styles/_variables

body
  background-color: $primary

.App
  text-align: center
  background-color: $octonary

header, footer
  text-align: center
  width: 100%
  clear: both

  nav.navbar
    margin: 0 auto
    font-weight: bold
    color: $primary 
    
    ul
      list-style: none
      display: inline-block
      padding: 0
      margin: 0

      li.nav-item
        display: inline
        margin: 0 0.5vw
        font-size: 1.65vw

        &:first-of-type
          margin-left: 0

        a.nav-link
          text-decoration: none
          
          &:hover
            color: $senary

div.overlay
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

  > div
    color: $primary

    &:nth-of-type(1)
      display: none
       
    &:nth-of-type(2)
      top: 50%
      max-width: 581px
      border-radius: 10px

      form

        .control-group
          margin-top: 1vw

          input[type=text], input[type=number]
            width: 50%
            border-radius: 5px
            border-width: 1.5px

          input[type=checkbox]
            margin-top: 5px

          &.checkbox
            display: grid
            grid-template: 1fr / 25px 1fr
            text-align: justify

          button
            padding: 0.5vw
            margin-top: 0

      .modal-message
        margin-bottom: 0

#content
  clear: both
  display: grid
  grid-template: 1fr / 3.5fr 1fr

.invisible
  visibility: hidden

.overlay-button
  padding: 1vw
  font-size: 1.5vw

button
  background-color: $octonary
  border-radius: 10px
  color: $primary
  font-weight: bold
  cursor: pointer

  &:hover
    background-color: $quaternary
    box-shadow: inset 1px 1px 1px 1px $primary

aside
  border-left: 3px double $primary
  padding: 3vw 1vw 0 1vw
  background-color: $tertiary

@media all and ( max-width: 720px )
  aside
    display: none
    
  #content
    display: block

  div.overlay > div
    &:nth-of-type(2)
      font-size: 14px

      form
        h3
          font-size: 14px

        .control-group
          margin-top: 2vw

          input[type=text], input[type=number]
            font-size: 14px

          button
            padding: 1vw
            font-size: 14px

@media all and ( max-width: 640px )
  div.overlay > div
    &:nth-of-type(2)
      top: 25%

      form
        h3
          font-size: 12px

        .control-group
          input[type=text], input[type=number]
            width: 90%
            font-size: 11px

          button
            font-size: 11px